header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
  height: 30vh;
  gap: 2rem;
}

.placar {
  display: flex;
  flex-direction: row;
  gap: 0.725rem;
}

#scorePlayer0,
#scorePlayer1,
.placar p {
  font-size: 2rem;
}

@media only screen and (max-width: 425px) {
  header {
    margin-bottom: 4rem;
  }
}
